- var domain = "http://localhost:3000"
- var root = ""
//- - var domain = "https://gm5tf7hj4h.execute-api.ap-northeast-1.amazonaws.com"
//- - var root = "/prod"
- var assets_root = "/public/assets"
- var projectId = "line-order"
-
  var pages = {
      top : {
        name : "レシピ用語集",
        title: "レシピ用語集",
        description: "軽くて一覧性に優れた使いやすいレシピ用語集です",
        keywords: "レシピ用語,軽い,一覧"
      }
  }
