nav.navbar.is-fixed-top(role="navigation", aria-label="main navigation")
  .navbar-brand
    a.navbar-item(href="#") レシピ用語集
    .navbar-item
      .field.has-addons
        .control
          input.input(id="filter-text", type="text",placeholder="Filter")
        .control
          a.button.is-warning
            span.icon
              i.fa.fa-search
    .navbar-item
      a.twitter-share-button(href="https://twitter.com/share?ref_src=twsrc%5Etfw", data-show-count="false")
      script(async, src="https://platform.twitter.com/widgets.js", charset="utf-8")
  //- .is-mobile
  //-   .navbar-menu.is-active
  //-     .navbar-item
  //-       .field.has-addons
  //-         .control
  //-           input.input(id="filter-text", type="text",placeholder="Filter")
  //-         .control
  //-           a.button.is-info
  //-             span.icon
  //-               i.fa.fa-search
  //-     .navbar-item
  //-       a.twitter-share-button(href="https://twitter.com/share?ref_src=twsrc%5Etfw", data-show-count="false")
  //-       script(async, src="https://platform.twitter.com/widgets.js", charset="utf-8")
