link(rel='stylesheet', href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css")
link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css')
link(rel='stylesheet', href=domain+root+assets_root+"/common/css/common.css")
